<html>
  <head>
    <style>
    body {
	    background-color: linen;
	 }
    h1 	{
	  color: maroon;
	  margin-left: 40px;
	} 
	IMG.displayed 
	{
	  display: block;
	  margin-left: auto;
	  margin-right: auto 
	}
	</style>
    {% if title %}
    <title>{{ title }} - UpInSmoke</title>
    {% else %}
    <title>Welcome to UpInSmoke</title>
    {% endif %}
  </head>
  <body>
    <div>UpInSmoke: <a href="/index">Home</a></div>
    <hr>
    <img class="displayed" src={{smoker}} width="90%" height="90%">
    {% block content %}{% endblock %}
  </body>
</html>
